      <body>
      <div class="container">
      <div class="card">
       <div class="row no-gutters">
      <div class="card-body">
    </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-body">
          <%= image_tag "placeholder.png", class:"img-profile"%>
            <hr>
          <h5 class="card-text text-center">John</h5>
          <h5 class="card-text text-center">Doe</h5>
          <h5 class="card-text text-center"><%= @user.email %></h5>
        </div>
    </div>
      <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-text text-center">Description</h3>
        <br>
        <p class="card-text description"><p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          
      </div>
      </div>
      
  </div>
    </div>
      </div>
         <div class="card-footer bg-primary text-light">
      <caption>Profil crée le <%=@user.created_at%></caption>
      </div>
      </div>
      <br>
   
</body>