<section class="section-name  padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="#" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->

	
<div class="row">
<% @items.each_with_index do |item, index| %>
	<div class="col-md-3">
		<div href="#" class="card card-product-grid">
			<a href="#" class="img-wrap"> <%= image_tag "#{index += 1}.jpg", class:"img-thumbnail w-100"%> </a>
			<figcaption class="info-wrap">
				<a href="#" class="title"><%= item.title %></a>
				<div class="price mt-1"><%= item.price%></div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	   <%end%>
</div><!-- container // -->
</section>