
<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="hero-title">Bienvenue sur votre nouveau site préféré !</h1>
        <h4 class="text-secondary hero-subtitle">Découvrez, achetez et collectionnez des photos de chats par milliers !</h4>
      </div>
    </div>
  </div>
</section>

<section class="section-name  padding-y-sm">
  <div class="container">

  <header class="section-heading mt-3">
    <h3 class="section-title">La liste des images : </h3>
  </header><!-- sect-heading -->
  
  <%= button_to "PASSER COMMANDE", checkout_create_path(total: @item.price * 100), class:"btn btn-primary my-3", remote: true%>
    
  <%= render 'imageindex'%>

</section>
