<!DOCTYPE html>
<html>
<body>

  <div class="container">
    <div class="row">
      <br><br><br>

      <%= render 'showitem', item: @item %>

      <%= link_to 'Retour', items_path %>
      <br>
    </div>
  </div>
</body>
</html>