<div>
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %> text-center">
      <a href="#" data-dismiss="alert" class="close"></a>
      <%= value %>
    </div>
  <% end %>
</div>
