<div>
  <% flash.each do |key, value| %>
    <div class="alert alert-danger fade in">
      <a href="#" data-dismiss="alert" class="close">× hshshsh sh shs hs sh shs hs hs hs sh hs h </a>
      <%= value %>
    </div>
  <% end %>
</div>
