<header class="section-header">
<nav class="navbar navbar-main navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to image_tag("logo.png", class:"w-25"), items_path %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mr-sm-2 mt-2 mt-lg-0">
        <li class="nav-item active mr-3">
          <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#">A Propos de Nous</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="items">Les Photographies</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#">Our Work</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#">Contacts</a>
        </li>
            <li class="nav-item mr-3">
          <%= link_to "S'inscrire", new_user_registration_path, class:"nav-link btn btn-warning text-white" %>
        </li>
        <li class="nav-item mr-3">
          <%= link_to "Se Connecter", new_user_session_path, class:"nav-link btn btn-secondary text-white" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>


