<header class="section-header">
<nav class="navbar navbar-main navbar-expand-lg bg-white fixed-top">
  <div class="container">
  <a href="/" class="navbar-brand"><img src="https://res.cloudinary.com/dcmcouvju/image/upload/v1623256131/logo_rybibq.png" alt="logo PussyFans" class="w-25"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mr-sm-2 mt-2 mt-lg-0">
        <li class="nav-item mr-3 ms-3">
           <%= link_to "Accueil", root_path, class:"text-white btn btn-info" %>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#">A Propos de Nous</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
            <%= link_to "Mon Profil", user_path(current_user.id), class:"nav-link" %>
        </li></ul>
         <ul class="navbar-nav ml-auto mr-sm-2 mt-2 mt-lg-0 ms-2">
            <li class="nav-item">
          <%= link_to "Deconnexion", destroy_user_session_path, method: "delete", class:"btn btn-secondary text-white" %>
        </li></ul>
         <ul class="navbar-nav ml-auto mr-sm-2 mt-2 mt-lg-0">
         <div class="container"></div>
      <li class="nav-item d-flex" ><h2 class="fas fa-shopping-cart btn btn-info icone me-3"></h2>
      <input id="inc" size="1" value="0"></input></li>
      </ul>
    </div>
  </div>
</nav>
</header>
<br /><br /><br /><br /><br /><br />